 .start-dates {
    display:none !important;
  }

  #date-and-time {
    display:none !important;
  }

 .start-date {
    display:none !important;
  }

 .end-date {
    display:none !important;
  } 
